.nav-toggle {
  border: none;
  cursor: pointer;
  background: #fff;

  width: 32px;
  height: 32px;

  background: url('/src/images/icon-hamburger.svg') center center no-repeat;

  @media (--desktop) {
    display: none;
  }
}

.nav-toggle--close {
  background: url('/src/images/icon-close.svg') center center no-repeat;
}

.btn {
  border: none;
  border: 2px solid #fff;
  color: #fff;

  font-size: 0.94rem;
  text-transform: uppercase;
  letter-spacing: 0.065em;
  padding: .55em 1.7em;

  @media (--desktop) {
    cursor: pointer;
  }
}