.nav {
  background: url('/src/images/bg-pattern-mobile-nav.svg') center bottom no-repeat, 
              var(--nav-bg);
  background-size: 100% 38%;
  width: 100%;
  height: 0;
  
  position: absolute;
  top: 80px;
  left: 0;
  
  text-align: center;
  overflow: hidden;
  transition: height .3s ease-in;

  @media (--desktop) {
    position: relative;
    top: 0;
    height: auto;
    background: #fff;
  }
  
  & .nav-list {
    padding-top: .5em;

    @media (--desktop) {
      padding: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 1.5em;
    }
  }

  & .nav-item {
    margin-top: 2.44em;
    
    @media (--desktop) {margin: 0;}

    &:last-child {
      margin-top: 2em;

      @media (--desktop) {margin: 0;}
    }
  }

  & .nav--btn {
    display: block;
    border: 2px solid #fff;
    
    width: 87.2%;
    padding: .6em;
    margin: 0 auto;

    @media (--desktop) {
      width: 146px;
      border-color: var(--primary);
      color: var(--primary);
      margin-left: .9em;
    }
  }
}
.nav--active {
  height: calc(100vh - 80px);
  transition: height .3s ease-out;
}