.header {
  position: fixed;
  background: #fff;
  width: 100%;
  padding: 1.5em 0;
  z-index: 10;

  & .container {
    display:  flex;
    justify-content: space-between;
    align-items: center;
  }
}




.intro {
  background: url("../../../public/images/bg-pattern-intro-left-mobile.svg") no-repeat left 530PX,
              var(--section-bg);  
  padding: 5em 0 6.5em 0;
  margin-bottom: 8.75em;  ;

  &:before {
    content: '';
    position: absolute;
    top: 868px;
    left: 0;
    width: 100%;
    height: 354px;
    background: url("../../../public/images/bg-pattern-intro-right-mobile.svg") no-repeat right center;
  }

  & .intro-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 5.75em;
  }

  & .intro-image {
    height: 451px;
    width: 100%;
    margin: 0 auto 0 auto;

    & img {
      height: 100%;
      object-fit: cover;
    }
  }

  & .intro-content {
    width: min(87.2%, 380px);
    margin: 0 auto;

    text-align: center;

    & .text {
      margin-block: 1em 2.75em;
    }
  }
}



.main {
  padding: 2.6em 0 0 0;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, -40px);
    width: 160px;
    height: 1px;
    background: var(--secondary);
  }
}



.different {
  text-align: center;

  & .different-img {
    width: 5.5em;
  }

  & .item-title {
    margin: 1em 0 .6em 0;
  }
}

.different-container {
  display: flex;
  flex-direction: column;
  gap: 3.5em;

  max-width: 450px;
  margin-inline: auto;
  text-align: center;

  padding: 4.9em 0;
}



.find-more {
  background: url("../../../public/images/bg-pattern-how-we-work-mobile.svg") no-repeat top right, 
              var(--section-bg);

  max-width: 450px;
  margin: 4em auto 8.75em auto;
  padding: 4.5em 2em 5em 2em;
  
  text-align: center;

  & .subtitle {
    margin-bottom: 1.25em;
  }

  & .btn {
    padding-inline: 1.33em;
  }
}



.footer {
  background: url("../../../public/images/bg-pattern-footer-mobile.svg") no-repeat top, 
              var(--footer-bg);
  padding: 5.65em 0 0 0;
  text-align: center;

  & .footer-logo {
    width: 7em;
    margin: 0 auto 1.8em auto;
  }

  & .social {
    display: flex;
    justify-content: center;
    gap: 1em;
  }
}

.footer-top {
  position: relative;
  margin-bottom: 2em;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -2em;
    width: 100%;
    height: 1px;
    background: var(--secondary);
  }
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 1.75em;
  padding: 2.75em;

  & li {
    margin-bottom: 0.78em;
  }
}